header {
    text-align: center;
    padding: 4vh 0;
    font-size: 4vw;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 0 15px rgba(128, 179, 255, 0.9);
}

h1 a {
    color: inherit;
    text-decoration: none;
}

/* 컨텐츠 영역 */
.content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
